{% extends "main.html" %}
{% load static %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-block" style="padding-top: 100px; padding-bottom: 110px;">
<div class="container">
  <div class="row">
    <div class="card border-0 col-lg-4 mx-auto">
      <div class="card-body">
        <h1 class="text-center mt-2 mb-5">SIGNUP</h1>
        <form method="POST" class="post-form" action="{% url 'muze:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="input-group mb-2">
          <input type="text" class="form-control" name="name" id="name" placeholder="이름" 
          value="{{ form.name.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-2">
          <input type="text" class="form-control" name="username" id="username" placeholder="아이디" 
          value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-2">
          <input type="password" class="form-control" name="password1" id="password1" placeholder="비밀번호" 
          value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-2">
          <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호 확인" 
          value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-2">
          <input type="email" class="form-control" name="email" id="email" placeholder="이메일 주소" 
          value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="rrn" id="rrn" placeholder="주민등록번호 '-'제외 13자리" 
          value="{{ form.rrn.value|default_if_none:'' }}">
        </div>
        <div class="d-grid gap-1">
          <button type="submit" class="btn btn-outline-danger mt-2">회원가입</button>
          <div class="text-end mt-1">
              <a class="text-decoration-none text-reset me-2" href="{% url 'muze:login' %}?next={% url 'muze:main' %}">로그인</a>
              <a class="text-decoration-none text-reset" href="{% url 'muze:main' %}">취소</a>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}

